/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/

/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */
:root {
  --color-bg: #111111;
  --color-text-main: #ffffff;
  --color-primary: #ffff00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

html {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  color: #ffffff;
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  position: relative;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.global/622588a2-0031-4722-9f72-13355587a9a2/Steamed%20DEMO.otf?v=1643446178583")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.global/622588a2-0031-4722-9f72-13355587a9a2/Steamed%20DEMO.otf?v=1643446178583")
    format("opentype");
}

.btn--remix {
  font-family: HK Grotesk;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000000;
  white-space: nowrap;
  margin-left: auto;
}
.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #d0fff1;
}

/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #ffffff;
}

.headerdiv {
  width: 100%;
  text-align: center;
  vertical-align: center;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #ffffff;
  text-decoration: none;
  border-style: none;
}

.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
}

/* Page structure */
.wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.content {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Very light scaling for our illustration */
H1 {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  line-height: 105%;
  margin: 0;
  font-size: 75px;}

H2 {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  line-height: 105%;
  margin: 0;
  font-size: 65px;
}

H3 {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  line-height: 105%;
  margin: 0;
  font-size: 30px;
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}

/* Instructions */
.instructions {
  margin: 1rem auto 0;
}

/* Subheading */

/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}

.headimg {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.gameappbtn {
  background-color: transparent;
  text-decoration: none;
  margin: 20px;
}

.home404 {
  background-color: #000000cc;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  border-width: 10px;
  padding: 10px;
  color: white;
  font-size: 30px;
  font-family: HK Grotesk;
  text-align: center;
  align-items: center;
  vertical-align: center;
  text-decoration: none;
  font-size: 50px;
  cursor: pointer;
  width: 75%;
  
}

.gameappimg {
  height: 300px;
  width: 200px;
}

/* Container holding the image and the text */
.container {
  position: relative;
  vertical-align: center;
  text-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.text-block2 {
  background-color: #000000cc;
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  border-width: 10px;
  padding: 10px;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  width: 100%;
  display: block;
}

.bordered {
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  border-width: 5px;
  vertical-align: center;
  text-align: center;
  align-items: center;
  padding: 20px;
  width: 90%;
}
.button {
  background-color: #000000cc;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  border-width: 10px;
  padding: 10px;
  color: white;
  font-size: 30px;
  font-family: HK Grotesk;
  text-align: center;
  align-items: center;
  vertical-align: center;
  text-decoration: none;
  font-size: 50px;
  cursor: pointer;
}

#resetBtn {
  background-color: #000000cc;
  border-style: solid;
  border-color: red;
  border-radius: 20px;
  border-width: 10px;
  padding: 10px;
  color: red;
  font-size: 30px;
  font-family: HK Grotesk;
  text-align: center;
  align-items: center;
  vertical-align: center;
  text-decoration: none;
  font-size: 50px;
  cursor: pointer;
}

.headerimg {
  object-fit: stretch;
  width: 100%;
}

.getbutton {
  background-color: #000000cc;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  border-width: 10px;
  padding: 10px;
  color: white;
  font-family: HK Grotesk;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-size: 50px;
  cursor: pointer;
  display: block;
  width: 100%;
}

iframe {
  height: 1000px;
  width: 100%;
  border: none;
}

textarea {
  display: block;
  background-color: #000000;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  border: 10px solid #ffffff;
  border-radius: 20px;
  text-decoration: none;
  margin: 10px;
  width: 100%;
  height: 100%;
}

.imagediv {
  width: 100%;
  text-align: center;
  vertical-align: center;
}
.tag {
  vertical-align: center;
  text-align: center;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 20px;
  padding: 0px;
  color: #ffffff;
  font-weight: bold;
  justify-content: center;
}

/* Add a black background color to the top navigation */
.navbar {
  display: inline-block;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
  border-radius: 10px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}

/* Change the color of links on hover */
.navbar a:hover {
  color: white;
  background: rgba(0, 0, 0, 0.2);
}

/* Add a color to the active/current link */
.navbar a.active {
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

.imagehead {
  width: 100%;

}

.headstore {
  width: 85%;

}

.chappiumopt1 {
  position: relative;
  vertical-align: center;
  text-align: center;
  align-items: center;
  margin: 20px;
  float: left;
}

.chappiumopt2 {
  position: relative;
  vertical-align: center;
  text-align: center;
  align-items: center;
  margin: 20px;
  float: right;
}

.getoptcontainer {
  display: flex;
  width: 100%;
}

.getopt {
  display: block;
  text-align: center;
  width: 33%;
  float: left;
  text-align: center;
  align-items: center;
}

.editbtn {
  background-color: transparent;
  color: white;
  height: 40px;
  width: 40px;
  border: 0px;
  cursor: pointer;
}

.div404 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 50%;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .navbar a {
    border-radius: 10px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 7px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
  }
  .imagehead {
    display: flex;
    height: 350px;
    object-fit: cover;
  }

  h1 {
    font-size: 50px;
    margin: 10px;
  }
  
  h2 {
    font-size: 35px;
    margin: 10px;
  }
  
  h3 {
    font-size: 20px;
    margin: 10px;
  }
  
  .gameappbtn {
    background-color: transparent;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
  }

  .gameappimg {
    height: 150px;
    width: 100px;
  }

  .buttonblack {
    font-size: 20px;
    border-width: 5px;
  }

  .getbutton {
  font-size: 30px;
}

  .text-block {
    font-size: 20px;
    border-width: 5px;
    width: 100%;
  }
  .text-block2 {
    font-size: 20px;
    border-width: 5px;
  }

  .headstore {
    width: 100%;
    margin-top: 75px;
  }

  .chappiumopt1 {
    float: none;
  }

  .chappiumopt2 {
    float: none;
  }
  
.getoptcontainer {
  display: block;
  width: 100%;
}

  .getopt {
    display: block;
    text-align: center;
    width: 100%;
    float: none;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
  }
  
  .button {
  background-color: #000000cc;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  border-width: 5px;
  padding: 10px;
  color: white;
  font-size: 20px;
  font-family: HK Grotesk;
  text-align: center;
  align-items: center;
  vertical-align: center;
  text-decoration: none;
  cursor: pointer;
}

#resetBtn {
  background-color: #000000cc;
  border-style: solid;
  border-color: red;
  border-radius: 20px;
  border-width: 5px;
  padding: 10px;
  color: red;
  font-size: 20px;
  font-family: HK Grotesk;
  text-align: center;
  align-items: center;
  vertical-align: center;
  text-decoration: none;
  cursor: pointer;
}
}
